* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.anchor {
    display: block;
    position: relative;
    top: -100px; /* hauteur de ton header */
    visibility: hidden;
}


/* ====== EN TETE ====== */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #111;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.header a {
    text-decoration: none;
    color: #fff;
    font-family: 'Garamond', serif;
    font-size: 20px;
}

.logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.nav a {
    color: #fff;
    margin-left: 25px;
    text-decoration: none;
}

/* Btn Navigation Survol */
.nav a:hover {
    color: #4b98eb;
}

/* ====== CONTENU PRINCIPAL ====== */
.intro {
    height: 1000px;
    background: linear-gradient(90deg, #0F2854, #222);
    color: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}

.intro-text {
    max-width: 50%;
}

.intro-img img {
    width: 450px;
    margin-right: 50px;
    border-radius: 50%;
}

.intro h1 {
    font-size: 48px;
    margin-bottom: 15px;
    margin-right: 20px;
    font-family: 'Garamond', serif;
}

/* Nom */
.intro span {
    color: #BDE8F5;
    font-family: 'Garamond', serif;
}

.intro p {
    font-size: 20px;
    margin-bottom: 30px;
    font-family: 'Garamond', serif;

}

.btn {
    padding: 12px 30px;
    background-color: #00adb5;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
}

img {
    width: 100%;
    height: auto;
}

/* ====== A PROPOS DE MOI ====== */
#about {
    min-height: 100vh; /* la section prend toute la hauteur de la fenêtre */
    display: flex;
    flex-direction: column;
    justify-content: center; /* centre verticalement le contenu */
    align-items: center;     /* centre horizontalement */
    text-align: center;
    scroll-margin-top: 50px; /* décale le scroll sous le header fixe */
    padding: 80px 50px;
    margin-bottom: 20px;
    font-family: 'Garamond', serif;
}

#text {
    padding: 0 50px 50px 50px;
    line-height: 2.0;
    font-family: 'Garamond', serif;
    margin-right: 100px;
}


/* ===== PROJETS ====== */

#projects {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    padding: 80px 50px;
    margin-bottom: 20px;
    scroll-margin-top: 50px;
    font-family: 'Garamond', serif;
}

.accordion {
    width: 100%;
}

/* ====== COMPETENCE ====== */
#skills {
    padding: 80px 50px;
    margin-bottom: 20px;
    font-family: 'Garamond', serif;
}

.text-section, 
.text-section ul, 
.text-section li {
    font-family: 'Garamond', serif;
    font-size: 20px;
    line-height: 2.0;
    color: #fff;
    margin-right: 100px;
    font-size: 1.75rem;
}


/* ====== FOOTER ====== */
.footer {
    background-color: #111;
    color: #fff;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer p {
    font-size: 14px;
}

.socials a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    font-size: 14px;
}

.socials a:hover {
    color: #00adb5;
}